/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 agm-map {
   width: 100%;
  height: 100vh;
}

nav{

  background-color: rgb(37, 37, 37);
}

nav a{
  color: whitesmoke;
transition: 0.1s all;
}

nav a:hover{
  cursor: pointer;
  transform:scale(1.1,1.1);
}


.modal-body{
  height: 400px;
  overflow-y: auto;
}

.modal-header{
  background-color: midnightblue;

}

.modal-title{
  color: whitesmoke;
}

tbody tr td img {
  width: 30px;
  height: 30px;
}
tbody tr td img:hover {
  cursor: pointer;
}


tbody tr{
transition:  all;
}

tbody tr:hover{
  background-color: rgb(214, 212, 209) ;
}


#mainMarker{
  transition: 0.1s all;
}

#mainMarker:hover{
  transform: scale(1.1,1.1);
}

ngb-alert{
  margin-bottom: 0px;
}

ngb-progressbar{
  margin-bottom: 0px;
}
