
<ng-template   #content let-modal >

      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Users location</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>latitude</th>
                <th>longitude</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of usersData; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.location.latitude}}</td>
                  <td>{{item.location.longitude}}</td>
                  <td><img (click)="userInModal(item.location.latitude,item.location.longitude)"  src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/map-marker-icon.png"></td>
                  </tr>
          </tbody>



        </table>
        </div>



  </ng-template>



    <!-- nav bar with 5 top location & search input -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" >Angular - Google maps</a>



        <ul class="navbar-nav mr-auto">
          <li>
            <button (click)="getUsersLocation()" [disabled]="flag" class="btn btn-outline-light">Get users!</button>
          </li>
          <li>
              <button [disabled]="!flag" class="btn btn-outline-primary" (click)="open(content)">Users Details</button>
          </li>

        </ul>

        <div>
            <form  (ngSubmit)="getCoordsFromsSearch(f)" #f="ngForm" ngNativeValidate>
                <input  ngModel required  class="form-control" id="searchCountry" name="searchCountry" type="search" placeholder="Search Country..">
                 </form>
        </div>







    </nav>




    <!-- Google maps  -->
  <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"  (mapClick)="onMapClick($event)">

    <agm-marker  [latitude]="latitude" [longitude]="longitude"></agm-marker>

    <agm-marker-cluster  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker

      *ngFor="let item of usersData; let index"
       [latitude]="item.location.latitude"
        [longitude]="item.location.longitude"
       ></agm-marker>


    </agm-marker-cluster>





  </agm-map>



