

<!-- modal template -->
<ng-template   #content let-modal >

      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Users location</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>latitude</th>
                <th>longitude</th>

            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of usersData;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.location.latitude}}</td>
                  <td>{{item.location.longitude}}</td>
                  </tr>
          </tbody>



        </table>
        </div>



  </ng-template>






    <!-- nav bar with 5 top location & search input -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" >Angular - Google maps</a>



        <ul class="navbar-nav mr-auto">
          <li>
            <ng-template [ngIf]="!flag">
                <button placement="bottom" ngbTooltip="get 100 users and set them on map" (click)="getUsersLocation()"  class="btn btn-secondary">Get users!</button>
            </ng-template>
          </li>
          <li>
            <ng-template [ngIf]="flag">
                <button placement="bottom" ngbTooltip="press to see all users details" class="btn btn-warning"  (click)="open(content)">Users Details</button>
            </ng-template>
          </li>

        </ul>

        <div>
            <form  (ngSubmit)="getCoordsFromSearch(f)" #f="ngForm" ngNativeValidate>
                <input placement="bottom" ngbTooltip="search country by name and press Enter" ngModel required  class="form-control" id="searchCountry" name="searchCountry" type="search" placeholder="Search Country..">

                 </form>
        </div>


    </nav>


    <ngb-progressbar *ngIf="progressBarFlag" type="success"  [value]="77" [striped]="true" [animated]="true"></ngb-progressbar>

  <!--  alert if google api dont found the country -->
  <ngb-alert  *ngIf="notFoundCounetAlert" (close)="notFoundCounetAlert=false" >
    <strong>Hey!</strong> place not found.. try again.
  </ngb-alert>


<!-- success alert if users set successfully on -->
<ngb-alert  type="success" *ngIf="usersSetSuccessfullyOnMap" (close)="usersSetSuccessfullyOnMap=false" >
<strong>Users set on map successfully!</strong>
press on "Users Details" button to see more information
</ngb-alert>



    <!-- Google maps  -->
    <agm-map  [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"  (mapClick)="onMapClick($event)">

        <agm-marker   [latitude]="latitude" [longitude]="longitude"></agm-marker>

        <agm-marker-cluster  imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
          <agm-marker

          *ngFor="let item of usersData"
           [latitude]="item.location.latitude"
            [longitude]="item.location.longitude"
            [label]="item.name"
            [iconUrl]="{
              url: 'https://cdn1.iconfinder.com/data/icons/rcons-user-action/512/user-512.png',
              scaledSize: {
                  width: 40,
                  height: 40
              }
          }"
           ></agm-marker>


        </agm-marker-cluster>


        <!-- Marking tracks in progress! -->
<!--
        <div *ngFor="let coords of path; let last=last ;let first=first;let i=index" >

          <agm-marker
        *ngIf="last"
        [latitude]="coords.lat"
        [longitude]="coords.lng"
        [iconUrl]="{
          url: 'https://i3.wp.com/chittagongit.com/images/finish-flag-icon/finish-flag-icon-15.jpg',
          scaledSize: {
              width: 40,
              height: 40
          }
      }"
         ></agm-marker>

          <agm-marker
        *ngIf="first"
        [latitude]="coords.lat"
        [longitude]="coords.lng"
        [iconUrl]="{
          url: 'https://upload.wikimedia.org/wikipedia/commons/8/8b/Green_Arrow_Up_Darker.svg',
          scaledSize: {
            width: 30,
            height: 30
          }
        }"

         ></agm-marker>


         <agm-marker
         *ngIf="!first&&!last"
         [latitude]="coords.lat"
         [longitude]="coords.lng"
          ></agm-marker>


        </div>

        <agm-polyline
        [strokeOpacity]="0.5"
        [strokeColor]="'blue'">
            <agm-polyline-point *ngFor="let item of path"
            [latitude]="item.lat"
            [longitude]="item.lng"

            >
            </agm-polyline-point>

        </agm-polyline> -->


      </agm-map>





<!--

<ngui-map zoom="8" center="31.771959,35.21701"  scrollwheel="true">


  <div *ngFor="let position of path; let last=last ;let first=first;let i=index" >


      <marker *ngIf="last"
      [label]="'Finish !'"
      [position]="position"
      [icon]="{
        url: 'https://i3.wp.com/chittagongit.com/images/finish-flag-icon/finish-flag-icon-15.jpg',
        anchor: [16,16],
        size: [32,32],
        scaledSize: [32,32]
      }">
    ></marker>
    <marker   *ngIf="!last&&!first"  [position]="position" ></marker>
    <marker *ngIf="first"
    [label]="'Start !'"
      [position]="position"
      [icon]="{
        url: 'https://cdn0.iconfinder.com/data/icons/user-icons-4/100/user-17-512.png',
        anchor: [16,16],
        size: [50,50],
        scaledSize: [35,35]
      }"
      ></marker>
  </div>


  <polyline [editable]="false"
      [path]="path"
      [geodesic]="true"
      [strokeColor]="'blue'"
      [strokeOpacity]="0.4"
      [strokeWeight]="3"

      ></polyline>
  </ngui-map> -->
